.top {
    width: 100%;
    margin: auto;
    text-align: center;
    
}

.top h1 {
    font-family: aladin, sans-serif;
    font-size: 5em;
}

.middle {
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: grey;
}

.middle a {
    text-decoration: none;
    color: grey;
}

.middle a:hover {
    color: black;
}

.middle h3 {
    font-family: aclonica, sans-serif;
    font-size: 1.7em;
}

footer {
    width: 100%;
    margin: auto;
    text-align: center;
    position: fixed;
    bottom: 0;
    color: darkgrey;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    color: black;
}